.music {

}

nav {
  position: fixed;
  height: 10%;
  background-color: #FFA500;
  width: 100%;
  top: 0;
  left: 0;
  color:#3A97B5;
  clear: both;
}

nav h2 {
  float: left;
}

nav h2 p {
  float: right;
  margin-right: 5px;
  font-size: 1em;
  line-height: 2em;
}

#user {
  float: right;
  margin-right: 10px;
  font-size: 1em;
  line-height: 5em;
}

.error {
  border: 1px solid red;
  background: pink;
  font-weight: bold;
  color: red;
}