<h1>Mango Jukebox</h1>
  <div class="container">
    <% if @error %>
      <div class="error"><%= @error %></div>
    <% end %>

<form method="POST" action="/user/login">
  <!-- this is for the login page only! -->
  <div>
    <!-- <label for="email">Email: </label> -->
    <input type="text" id="email" name="email" placeholder="Enter your email" required><br>
    </div>
    <div>
    <!-- <label for="password">Password: </label> -->
    <input type="password" id="password" name="password" placeholder="Enter your password" required><br>
    <input type="submit" value="Login">
    </div>
  </div>
</form>